.weather-widget {
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    border-radius: 15px;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    background-color: #bdbdbd;
}